@mixin toggle-base {
  position:relative;
  display:block;
  @include vps(margin-bottom, 64px);

  &:last-of-type {
    @include vps(margin-bottom, 87px);
  }
  
  .toggle-name {
    @include vps(font-size, 35px);
    color: $disable-color;
    font-weight: 700;
    transition:all 0.3s;
    
    &:before,
    &:after {
      position:absolute;
      top:50%;
      display:block;
      content:'';
      background-color: $disable-color;
      transition:all 0.3s;
    }
    &:before {
      right:0;
      @include vps(width, 79px);
      @include vps(height, 30px);
      border-radius: 0.938em;
      transform:translate(0, -50%);
    }    
    
    &:after {
      left:88%;
      @include vps(width, 45px);
      @include vps(height, 45px);
      border-radius:50%;
      box-shadow: -0.112em 0.15em 0.625em rgba(0, 0, 0, 0.8);
      transform:translate(-50%, -50%);
    }
  }
  
  input[type="checkbox"] {display:none;}
  input[type="checkbox"]:checked ~ .toggle-name {
    color:$primary-color;
    
    &:before,
    &:after {
      background-color:$primary-color;
    }
    &:after {left:100%;}
    
  }
}