body {
    line-height: 1.5;
    font-family: "Spoqa Han Sans", sans-serif;
    color: #3c3c3c;
    background: #fff;
}

.show-baseline {
  padding:0;
}

.show-baseline:after {
  content: "";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:1272px;
  background-image: linear-gradient(180deg, transparent 95%, #eee 95%);
  background-size: 1px 1.5em;
  z-index:1000;
}

hr {
  height:1.5rem;
  margin:0;
  border:0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol
 {
    margin-top:0;
    margin-bottom: 1.5em;
}

ul ul, ol ol {margin-bottom: 0}

h6 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 1.2em;
}

h5 {
    font-size: 1.5625em;
    line-height: 1.92;
    margin-bottom: .96em;
}

h4 {
    font-size: 1.953em;
    line-height: 1.54;
    margin-bottom: .7681em;
}

h3 {
    font-size: 2.441em;
    line-height: 1.85;
    margin-bottom: .6146em;
}

h2 {
    font-size: 3.0517em;
    line-height: 1.48;
    margin-bottom: .4916em;
}

h1 {
    font-size: 3.8146em;
    line-height: 1.18;
    margin-bottom: 0.3933em;
}

table, th, td {
  padding:0 1.5em;
  border:1px solid #000;
  line-height:1.4375rem;
}

table {
  width:100%;
  border-collapse: collapse;
}

img {vertical-align: top;}

.nav {
  position:fixed;
  top:1.5em;
  left:1.5em;
  padding:1.5em;
  border:1px solid #000;
  list-style:none;
}

.nav ul {
  padding:0;
  list-style:none;
}

.nav ul li {
  padding:0;
}

.section:first-of-type {margin-top: 1.5em;}

.section {
    margin-bottom: 1.5em;
    padding: 1.5rem;
    outline: 1px solid #000;
}

.section_tit {
    display:inline-block;
    padding: 0 0.75rem;
    background: #000;
    font-size: 1.5625em;
    line-height: 1.92;
    margin-bottom: .96em;
    color: #fff;
    clear:both;
}

.button {
  padding:0.75em 1.5em;
  font-size:16px;
  font-weight:bold;
  border:0;
  line-height:1.5;
  border-radius:4px;
  text-shadow: 0 0 5px hsla(0, 0%, 0%, 0.75);
  box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.4);
  color:#fff;
}

.button:focus {
  position:relative;
  top:3px;
  box-shadow:inset 0px 3px 1px 0px rgba(0,0,0,0.4);
  outline:0;
}

.confirm {background:#345efb;}
.cancel {background:#e6ab0c;}
.delete {background:#e61515;}
.modify {background:#0cc26f;}

form {
  padding: 1.5rem;
  border:1px solid #000;
}

label {
  display:block;
  font-weight:bold;
}

label,
input {
  margin:0;
  vertical-align:top;
}

input {
  line-height:20px;
  padding:1px;
  border:1px solid #000;
  box-sizing:border-box;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle
}

select {
  line-height:1.5;
}

