body {
	max-width:960px;
	margin:0 auto;
	padding-top:1.5rem;
	line-height:1.5;
	background:#ddd;
}

div {
	margin-bottom:1.5rem;
	padding:1.5rem;
	background:#000;
}

.header h1 {
	margin-bottom:0;
}

.jumbotron img {
	float:left;
	margin:0 1.5rem 1.5rem 0;
}

.banner {
	margin-left:-0.75em;
	margin-right:-0.75em;
	list-style: none;
}

.banner li {
	float:left;
	width:33.3333%;
	padding:0 0.75em;
}

.banner li div {
	margin-bottom:0;
	padding:1.5rem;
}

.footer h2 {margin:0;}