.footer-wrap {
	background:url("../images/bg_footer.png");
	color:#fff;
}

.footer-top {
	display:flex;
	flex-flow:row wrap;

	@include tablet {
		align-items: center;
		height:$base-line*5;
	}
}

.footer-etc {
	flex-basis: 100%;
	flex-shrink: 0;
	flex-grow: 1;
	order:1;
	padding:0 20px;
	border-bottom:1px dotted #303643;
	@extend %clearfix;

	li {
		float:left;
		width:33.33%;
		text-align:center;
		line-height:$base-line*2;

		&:nth-child(1) {text-align:left;}
		&:nth-child(3) {text-align:right;}

		a {
			color:#fff;

			&:before {
				content:'';
				display:inline-block;
				width:12px;
				height:12px;
				margin-right:4px;
				background:url("../images/bul_footer01.png");
				background-size:cover;
			}
		}
	}

	@include tablet {
		flex:5;
		order:2;
		border:0;
		padding:0;
		text-align:right;

		li {
			float:none;
			display:inline-block;
			width:auto;
			margin-left:25px;
			font-size:16px;
			line-height:$base-line*1;
		}

	}
}

.footer-location {
	flex:4;
	order:2;
	margin:7px 0 0 20px;
	padding-left:30px;
	background:url("../images/ico_location.png") no-repeat;
	background-size:20px;

	dt {
		margin-bottom:3px;
	}

	@include tablet {
		flex:5;
		order:1;
		margin:0 0 0 36px;

		dt {
			font-size:16px;
		}
	}
}

.footer-sns {
	flex:2;
	order:3;
	padding-right:20px;
	text-align:right;

	a {
		margin-left:5px;
		line-height:$base-line*2;

		img {
			vertical-align:middle;
		}
	}
	
	@include tablet {
		margin-right:20px;

		a {
			line-height:$base-line*1;
		}
	}
	
}

.footer-copyright {
	align-self : flex-end;
	height:$base-line*2;
	background:#2b2b2b;
	line-height:$base-line*2;
	text-align:center;
	color:#fff;
	clear:both;

	@include tablet {
		height:$base-line*4;
		line-height:$base-line*4;
		font-size:14px;
	}
}