.footer-wrap {
	padding:30px 0;
	background: $gray;
	text-align:center;
}

.footer-title {
	position:relative;
	margin-bottom:20px;
	padding-top:32px;
	font-size:14px;
	letter-spacing:1px;
	color:$maincolor;
	font-weight:normal;

	&:before {
		position:absolute;
		top:0;
		left:50%;
		content:'';
		width:23px;
		height:19px;
		margin-left:-11px;
		background:url("../images/ico-logo-blue.png");
		background-size:23px;
	}
}